@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Geologica:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@1,900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    /* font-family: 'Geologica', sans-serif; */
}


/* body-css */
body{
    background: rgb(48, 1, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}


/* container - css */
.container{
    width:350px;
    height: 500px;
    background: rgb(38, 14, 90);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    color: antiquewhite;
    letter-spacing: 0.1rem;
    border-radius: 25px;
    padding-inline: 30px;
    
}

.container::before{
    content: "";
    position: absolute;
    width: 650px;
    height: 650px;
    background: conic-gradient(
        transparent, transparent, transparent, #e4902a
    );
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.container::after{
    content: "";
    position: absolute;
    width: 650px;
    height: 650px;
    background: conic-gradient(
        transparent, transparent, transparent, #ea401a
    );
    animation: animate 4s linear infinite;
}


/* keyframe */
@keyframes animate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}